<ion-view view-title="Currencies">
  <ion-content>
	<div class="list">
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Name</span>
		<input type="text" placeholder="" value="{{currency.Name}}">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Code</span>
		<input type="text" placeholder="" value="{{currency.Code}}">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Symbol</span>
		<input type="text" placeholder="$" value="{{currency.Symbol}}">
	  </label>
	</div>
  </ion-content>
</ion-view>
