<ion-view view-title="Currencies">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="currency in currencies" href="#/app/currencies/{{currency.UID}}">
        {{currency.Name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
